<template>
  <section class="section is-medium">
    <div class="container has-text-centered">
      <h1 class="title">About Me</h1>
      <p>My name is Andrew Pimlett and I am a frontend developer for Mando Liverpool.</p>
    </div>
  </section>
</template>