<template>
  <section class="section is-medium">
    <div class="container has-text-centered">
      <h1 class="title">Contact Me</h1>
      <p>You can follow me on Twitter: <a href="https://twitter.com/andypimlett" target="_blank">@andypimlett</a></p>
    </div>
  </section>
</template> 