<template>
  <section class="section is-large">
    <div class="container has-text-centered">
      <h1 class="title">Hi, Andy Pimlett</h1>
      <h2 class="subtitle">Frontend Developer for Mando Liverpool, UK.</h2>
      <p>This project is a very quick Nuxt implementation. Nuxt is a framework that adds adds tooling and opinion to VueJS for producing larger apps with considerations for SSR and/or static site generation.</p>
    </div>
  </section>
</template>